<p>
  <%= $player1.name %> vs. <%= $player2.name %>
</p>
<!-- <form action='/attack'>
<input type="submit"value="Attack">
  </form> -->
<a href="/attack">Attack</a>
<p>
  <%= $player2.name %>: 60 HP
</p>
